{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<h1>ChartTrending.com</h1>

<form action="{% url 'charts:generate' %}" method="post">
    {% csrf_token %}
    <label for="group title">Group Name: </label>
    <input type="text" name="group title" id="group title" placeholder="ex: Mag 7, SPDR Sectors, etc">
    <label for="tickers">Tickers (separated by commas):</label>
    <input type="text" name="tickers" id="tickers" placeholder="ex: AAPL, MSFT, AMZN">
    <label for="number of total days">Number of market days</label>
    <input type="integer" name="number of total days" id="x" value="15">
    <label for="interval">Interval:</label>
    <input type="integer" name="interval" id="y" value="1">
    <button type="submit" value="Generate">Generate Charts</button>
</form> 
